body, html{
    width: auto;
    height: auto;
    top: -4259px;
    left: -1283px;
    gap: 0px;
    opacity: 0px;
    overflow: hidden; 

}
.landingPage{
    width: auto;
    height: Hug (658.59px)px;
    top: 60px;
    gap: 93px;
    opacity: 0px;
    margin:2%;
    margin-bottom: -5%;

}
.nav{
    padding: 20px 20px 20px 600px;
    gap: 0px;
    display: flex;
    justify-content: flex-end;
    opacity: 0px;
}
.User{
    width: Hug (114px)px;
    height: Hug (68px)px;
    padding: 5px 25px 5px 25px;
    gap: 10px;
    border-radius: 14px;
    opacity: 0px;
    background-color: #B9FF66;

}
.header{
    /* width: Fixed (1,440px)px;
    height: Hug (497.59px)px;
    padding: 0px 100px 0px 100px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0px; */

    width: Fixed (1,440px)px;
    height: Hug (497.59px)px;
    top: 283px;
    padding: 0px 100px 0px 100px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;


}
.header_content{
    margin:50px;
}
.header_content .first_text{
    
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 200;
    line-height: 70px;
    text-align: left;
    width: 531px;
    height: 154px;
    gap: 0px;
    opacity: 0px;

}
.header_content .second_text{
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

button{
    width: 110px;
    height: 68px;
    padding: 5px 15px 5px 15px;
    border-radius: 14px;
    gap: 10px;
    background-color: black;
    color: white;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;   
}
.Img_content{
    width: auto;
    height: auto;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-bottom:  40px; 
    /* width: 593.74px;
    height: 497.59px; */
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
   
}
.footer {
    background: #B9FF66;
    font-size: large;
    width: 100%;
    height: auto !important;
    bottom: 30%;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .footer .style {
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  