.landingPage{
    width: auto;
    /* height: Hug (658.59px)px; */
    top: 60px;
    /* gap: 93px; */
    opacity: 0px;
    /* margin:2%; */
    /* margin-bottom: -5%; */

}
.nav{
    padding: 20px 20px 20px ;
    gap: 0px;
    display: flex;
    justify-content: flex-end;
    opacity: 0px;
}
.header{
    width: Fixed (1,440px)px;
    height: Hug (497.59px)px;
    padding: 0px 100px 0px 100px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;
    
}
.header_content{
    margin:50px;
}
.header_content .first_text{
    
    font-family: Space Grotesk;
    font-size: 45px;
    font-weight: 400;
    line-height: 76.56px;
    text-align: left;
}
.header_content .second_text{
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    
}

.btn{
    width: 15vw;
    height: 8vh;
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 14px;
    gap: 10px;
    background-color: black;
    color: white;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;   
}
.Img_content{
    width: auto;
    height: auto;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-bottom:  40px;     
}
.footer {
    background: #B9FF66;
    font-size: large;
    width: 100%;
    height: auto !important;
    /* bottom: 30%; */
    /* gap: 50px; */
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 15px;
}
.footer .style {
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* text-align: left; */
    /* display: flex; */
    /* justify-content: center; */
}

.Login_button{
    /* text: #FFFFFF; */
    padding: 5px 5px 5px 5px;
    gap: 10px;
    /* border-radius: 14px 14px 14px 14px; */
    background: #B9FF66;
}


.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }